<mat-toolbar color="primary" class="header">
  <!-- Back/Menu Button -->
  <button mat-icon-button class="back-btn" (click)="onToggleSidebar()">
    <mat-icon>{{ sidebarOpen ? 'chevron_left' : 'menu' }}</mat-icon>
  </button>

  <!-- Page Title -->
  <h1 class="page-title">
    <ng-container *ngIf="hasDetailParam; else plainTitle">
      <a [routerLink]="baseRoute" class="breadcrumb-link">{{ baseTitle }}</a>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-detail">{{ detailParam }}</span>
    </ng-container>
    <ng-template #plainTitle>{{ pageTitle }}</ng-template>
  </h1>

  <span class="spacer"></span>

  <!-- Right side - User actions -->
  <div class="header-actions">
    <div class="user-profile" [matMenuTriggerFor]="userMenu" *ngIf="currentUser$ | async as user">
      <div class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="user-details">
        <span class="user-name">{{ user.username }}</span>
        <span class="user-role">Super admin</span>
      </div>
      <mat-icon class="dropdown-icon">expand_more</mat-icon>
    </div>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
